body{
  background-color: #00ADE5;
  color: white;
  text-align: center;
  }

h1{
  font-size: 250%;
}

p{
  font-size: 166%;
}

.active {
  background-color: #496fa0;
  color: white;
  }

.menu{
  overflow: hidden;
  background-color: #414141;
}

.menu a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-size: 19px;
  text-decoration: none;
  
  }

.dropd {
  float: left;
  overflow: hidden;
}

.dropd .dropb {
  color: white;
  background-color: $414141;
  font-size: 19px;
  display: block;
  text-align: center;
}

.menu a:hover, .dropd:hover .dropb {
  background-color: LimeGreen;
  color: black;
  }

.dropc {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
}

.dropc a {
  float: none;
  color: black;
  display: block;
  text-align: center;
}

.dropc a:hover {
  background-color: #ddd;
}

.dropd:hover .dropc {
  display: block;
}

