body{
  background-color: #00ADE5;
  color: white;
  text-align: center;
  }

h1{
  font-size: 250%;
}

p{
  font-size: 166%;
}

.active {
  background-color: orchid;
  color: white;
  }

.menu{
  overflow: hidden;
  background-color: #414141
}

.menu a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-size: 19px;
  padding: 10px 20px;
  
  }

.menu a:hover{
  background-color: LimeGreen;
  color: black;
  }

